<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        h1{
            background-color: chocolate;
            color: blue;
            display: inline;
        }
        a{
            font-size: xx-large;  
        }
    </style>
</head>
<body>
    <h1>Welcome to Student Portal</h1>
    <br>
    <hr>
    <a href="form/">Add Student</a>
    <br>
    <a href="Query/">Query Student</a>
</body>
</html>