<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query_student</title>
    <style>
        h1{
            background-color: chocolate;
            color: blue;
            display: inline;
        }
        a{
            font-size: xx-large;  
        }
    </style>

</head>
<body>
    <h1>Query Page Enter Registration no to Search</h1>
    <br>
    <a href="/">HOME</a>
    <form action="QueryResult/" method=GET>
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Search">
    </form>
</body>
</html>